.titulo {
    width: 50%;
    background-color: rgb(52, 199, 224); /* Color de fondo para el título */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.song-list-container {
    width: 50%;
    background-color: white; /* Color de fondo para la lista de canciones */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.song-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.song-list li {
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.song-list li:hover {
    background-color: rgb(32, 201, 130); /* Color de fondo al pasar el ratón */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
